<% provide(:title, "About") %>
    <h1><%= yield(:title) %> </h1>
<p>ПРО нАсссс ыыыыыыыыыыыыыыыыыыыыыыы</p><br><br>
<a href="../static_pages/home">Home</a> <br>
<a href="../static_pages/help">Help</a> <br>
<a href="../static_pages/about">About</a> <br>
