<% provide(:title, "Home") %>

    <h1><%= yield(:title) %> </h1>

<p>Стартовая страничка</p><br><br>
<a href="../static_pages/home">Home</a> <br>
<a href="../static_pages/help">Help</a> <br>
<a href="../static_pages/about">About</a> <br>

